body {
  font-size: 15pt;
}
.box{
  font-size: 225px;
  color: yellow;
  background-color: deepskyblue;
  border: 5px solid #000;
  width: 250px;
  height: 250px;
  text-align: center;
  transform: translateX(50px);
  transform: translateY(50px);
  transform: translate(50px, 50px);
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  transform: rotateZ(180deg);
  transform: scaleX(1);
  transform: scaleY(2);
  transform: scale(1, 1);
  transform: skewX(45deg);
  transform: skewY(45deg);
  transform: skew(10deg, 10deg);
  
  transform: matrix(1, 10deg, 0deg, 2, 200px, 200px);
}
